.dh_game {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    background-color: #61aaf8;

    &:only-child {
        overflow: hidden;
    }

    cursor: none;
    height: 100vh;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 150px;
        width: 100%;
        background-color: #2cc91e;
        border-top: 20px solid #61aaf8;
        box-shadow: 0 -30px 0 #2cc91e;
        content: '';
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 120px;
        width: 100%;
        background-color: #fff;
        opacity: 0.2;
        content: '';
    }

    &__name {
        position: absolute;
        text-align: center;
        font-weight: bold;
        color: #fff;
        top: 50%;
        opacity: 0.1;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15vw;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.flash-win {
            animation: dh_game__nameFlash 0.5s infinite;
        }
        &.flash-bullet {
            animation: dh_game__nameFlashFull 0.5s infinite;
            color: #dff20a95;
        }
        &.flash-lose {
            animation: dh_game__nameFlash 0.5s infinite;
            color: red;
        }
    }

    &__duck {
        position: absolute;
        z-index: 10;
        background-size: contain;
        background-repeat: no-repeat;

        width: 150px;
        height: 150px;
        background-image: url('../assets/duck_01.png');
        animation: dh_game__duck 300ms infinite;
        transition: background 0.75s, opacity 0.7s;

        &--dead {
            animation: none;
            background-image: url('../assets/duck_dead.png');
            transform: translateY(100px);
            transition: all 0.7s;
        }

        &--flipped {
            transform: scaleX(-1);

            &.dh_game__duck--dead {
                transform: scaleX(-1) translateY(100px);
                transition: all 0.7s;
            }
        }

        &--faded {
            opacity: 0;
        }
    }

    &__aim {
        pointer-events: none;
        position: absolute;
        z-index: 20;
        display: block;
        border-radius: 9999px;
        border: 2px solid #000;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);

        &::before {
            position: absolute;
            display: block;
            background-color: #000;
            content: '';
            width: 75px;
            height: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            position: absolute;
            display: block;
            background-color: #000;
            content: '';
            width: 75px;
            height: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__mainScore {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: #fff;
    }

    &__bullets {
        position: absolute;
        top: 3rem;
        right: 1rem;

        .bullet {
            margin-left: 0.75rem;
            display: inline-block;
            height: 1rem;
            width: 1rem;
            border-radius: 9999px;
            background-color: #fff;
        }
    }
}

.dh_gameover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    background-color: #61aaf8;

    &:only-child {
        overflow: hidden;
    }

    height: 100vh;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 150px;
        width: 100%;
        background-color: #2cc91e;
        border-top: 20px solid #61aaf8;
        box-shadow: 0 -30px 0 #2cc91e;
        content: '';
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 120px;
        width: 100%;
        background-color: #fff;
        opacity: 0.2;
        content: '';
    }

    &__content {
        position: absolute;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 5vw;
            font-weight: bold;
            color: #fff;
        }
    }
    &__endScoreContainer {
        margin-bottom: 1rem;
        font-size: 2vw;
        font-weight: bold;
        color: #fff;
    }
    &__button {
        margin-top: 1rem;
        display: inline-block;
        border-radius: 0.375rem;
        background-color: #2cc91e;
        padding: 0.5rem 1rem;
        color: #fff;
        transition-duration: 200ms;
        transition-property: background-color, color;
        &:hover {
            background-color: #fff;
            color: #2cc91e;
        }
    }
    &__dog {
        position: absolute;
        height: 320px;
        width: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../assets/dog.png');
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        animation: dh_gameover__dog 300ms infinite;
    }
}

@keyframes dh_game__duck {
    0% {
        background-image: url('../assets/duck_01.png');
    }
    50% {
        background-image: url('../assets/duck_02.png');
    }
    100% {
        background-image: url('../assets/duck_01.png');
    }
}
@keyframes dh_game__nameFlash {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.1;
    }
}
@keyframes dh_game__nameFlashFull {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
@keyframes dh_gameover__dog {
    0% {
        background-image: url('../assets/dog.png');
    }
    50% {
        background-image: url('../assets/dog_02.png');
    }
    100% {
        background-image: url('../assets/dog.png');
    }
}