:root {
    body {
        --color-primary: #202123;
        --color-secondary: #ff549d;
        --color-tertiary: #ffbc6f;

        --color-gray-900: #3a3a3a;
        --color-gray-800: #727272;
        --color-gray-700: #9f9fa0;
        --color-gray-600: #d5d6d9;
        --color-gray-500: #efeff2;
        --color-gray-400: #f7f7f7;
        --color-gray-300: #fafafa;

        --color-white: #ffffff;
        --color-black: #000000;

        /* Color theme dependant colors */
        --color-primary-theme: #202123;
        --color-bg-100-theme: #fafafa;
        --color-bg-200-theme: #f7f7f7;
        --color-bg-300-theme: #d5d6d9;

        &.darkmode {
            /* Color theme dependant colors */
            --color-primary-theme: #f7f7f7;
            --color-bg-100-theme: #343538;
            --color-bg-200-theme: #727272;
            --color-bg-300-theme: #9f9fa0;
        }
    }
}
